*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    padding:20% 40%;
}
#firstNameInput{
    color: darkred;
}
#secondNameInput{
    color: darkred;
}

#loginFormSubmit{
    color: black;
}
